body {
	font-size: 3vh;
	font-family: "Open Sans";
	overflow: hidden;
}

section {
	height: 99vh;
	width: 100%;
	background-image: url(../images/catsdogs.jpg);
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
}

nav {
	background-color: #808080;
}

.title {
	font-family: "Gloria Hallelujah";
	text-align: center;
	font-size: 3rem;
}

.subtitle {
	font-size: 1.5rem;
	text-align: center;
}